<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja | <%=title%>
  </title>
</head>

<body>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>Blog Ninja</h1>
      </a>
      <p>A Net Ninja Site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">Аbout</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores iure impedit eum amet optio, nostrum ipsa soluta
      debitis vero perferendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores iure impedit eum amet optio, nostrum ipsa soluta
      debitis vero perferendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores iure impedit eum amet optio, nostrum ipsa soluta
      debitis vero perferendis.</p>
  </div>

</body>

</html>